<div class="search-pokemon">
  <p>Desenvolvido por Lucas Rodrigues Cunha</p>
  <input
    type="text"
    (input)="searchPokemon($any($event.target).value)"
    placeholder="Enter the name of a Pokémon"
  />
</div>

<div class="container">
  <article class="card">
    <header class="card-header">
      <h1 class="card-title">{{ pokemon.name | uppercase }}</h1>
    </header>

    <figure class="card-body">
      <img
        src="{{ pokemon.sprites.front_default }}"
        alt="Imagem do Pokémon {{ pokemon.name }}"
      />
    </figure>

    <footer class="card-stats">
      <span *ngFor="let t of pokemon.types" class="card-stats-type">
        {{ t.type.name | uppercase }}
      </span>
    </footer>
  </article>
</div>
