@import "../../../styles.scss";

.search-pokemon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  p {
    margin-bottom: 20px;
  }

  input {
    margin-bottom: 20px;
    height: 40px;
    width: 400px;
    text-align: center;
  }

  img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.container {
  display: flex;
  justify-content: center;

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: $background-card;
    border-radius: 5px;
    border: 1px solid #000;
    height: 300px;
    width: 250px;

    .card-header {
      .card-title {
        color: $primary-color;
        text-align: center;
        margin: 10px;
      }
    }

    .card-body {
      display: flex;
      justify-content: center;
      background-color: $background-body;
      border-radius: 5px;
      height: 80%;
      width: 80%;

      img {
        max-width: 100%;
        max-height: 100%;
      }

      .card-caption {
        text-align: center;
      }
    }

    .card-stats {
      margin: 20px;

      .card-stats-type {
        color: $primary-color;
        background-color: $stats-color;
        padding: 5px;
        margin-right: 5px;
        color: #000;
        font-weight: 500;
        font-size: 14px;
        border-radius: 2.5px;
      }
    }
  }
}

@media (max-width: 600px) {
  // Este bloco de código será aplicado a telas com largura mínima de 600px
  .search-pokemon {
    p {
    }
    input {
      width: 300px;
    }
  }
}
