* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Montserrat", sans-serif;
}

$background-card: #232323;

$background-body: #616161;

$primary-color: #ffffff;

$stats-color: #f1f1f1;
